body {
  color: #fff;
  background: #33333d;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.col-12 {
  flex: 1 1 100%;
  padding: 1rem;
  max-width: 100%;
}

.col-6 {
  flex: 1 1 50%;
  max-width: 50%;
}

@media (max-width: 900px) {
  .col-6 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.card {
  background: #373740;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

.card--max {
  height: 100%;
}

.card-title {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 1rem;
}

.card-title-row {
  min-width: 100%;
  display: flex;
}

.card-btns {
  text-align: right;
  margin-left: auto;
  vertical-align: middle;
  align-items: center;
  flex: 1 1 100%;
  min-width: 100%;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.plot {
  padding: 1rem 0;
  min-height: 250px;
  display: flex;
  flex: 1;
  min-width: 100%;
}

.chart {
  height: 250px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}

.recharts-text {
  font-size: 0.8rem;
}

.recharts-default-tooltip {
  background: rgba(0, 0, 0, 0.7) !important;
  border: rgba(0, 0, 0, 0.7) !important;
  border-radius: 1rem;
  font-size: 0.8rem;
}

.table-wrapper {
  width: 100%;
  min-width: 100%;
  flex: 1 1 100%;
  margin-top: 1rem;
  display: flex;
  position: relative;

  &__text {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.6;
    align-self: center;
    text-align: center;
    width: 100%;

    &--empty {
    }

    &--error {
    }
  }
}

table {
  border-spacing: 0px;
}

table > tbody > tr:nth-child(even) > td {
  background: rgba(255, 255, 255, 0.06);
}

table > tbody > tr > td {
  padding: 0.2rem 0rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border: none;
}

table > tbody > tr > td:first-of-type {
  font-weight: bold;
  padding-right: 3rem;
}

table > tbody > tr:last-of-type > td {
  border-top: 1px solid #fff;
}

.table-fullpage {
  width: 100%;
  min-width: 100%;
  text-align: left;
  font-size: 0.95rem;

  &.table {
    &--empty {
      opacity: 0.25;
    }

    &--error {
      opacity: 0.25;
    }
  }

  thead {
    tr {
      th {
        padding-left: 8px;
        border-bottom: 1px solid #fff;
      }
    }
  }

  tbody {
    tr {
      &.transparent {
        td {
          color: rgba(255, 255, 255, 0);
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
          -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
        }
      }

      td {
        border-top: none;
      }

      &:last-of-type {
        td {
          border-top: none !important;
        }
      }
    }
  }
}

.plot-card {
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: rgba(255, 255, 255, 0.04);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(29, 233, 182, 0.12);
  color: rgb(29, 233, 182);
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
}

button:disabled {
  background-color: rgba(255, 255, 255, 0.02);
  color: rgba(255, 255, 255, 0.15);
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
  opacity: 0.8;
}

button.active {
  background-color: rgba(29, 233, 182, 0.3);
  color: rgb(29, 233, 182);
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: none;
}

input {
  font-size: 0.8rem;
  padding: 0.1rem 5px;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  height: 1.6rem;
  max-height: 1.6rem;
}

select {
  font-size: 0.8rem;
  width: 100%;
  padding: 0.1rem 5px;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  height: 1.6rem;
  max-height: 1.6rem;
}

select:focus {
  width: 100%;
  padding: 0.1rem 5px;
  border-radius: 0.3rem;
  border: none;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25em;
}

.mx-1 {
  margin: 0rem 0.25em;
}

.mx-2 {
  margin: 0rem 0.5em;
}

.mr-2 {
  margin-right: 0.5em;
}


.badge {
  padding: 0.15rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  border: none;

  position: absolute;
  top: 1rem;
  right: 1rem;
}

.live {
  background: #d32f2f;
  color: #fff;
}

.no-live {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  opacity: 0;
}

.recharts-text {
  fill: #fff;
}

.char-container {
  position: relative;
  width: 100%;
  display: flex;
}

.char-container__text--empty {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.6;
  align-self: center;
  text-align: center;
  width: 100%;
}

.char-container__chart--empty {
  opacity: 0.2;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 1.2rem;
  height: 1.2rem;

  &--sm {
    width: 1rem;
    height: 1rem;
  }

  & .path {
    stroke: #fff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.output {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;

  &__text {
    flex: 1 1;
    align-self: stretch;
    vertical-align: bottom;
    border-top-left-radius: 0.3rem !important;
    border-bottom-left-radius: 0.3rem !important;
    background: rgba(255, 255, 255, 0.08);
    border: none !important;
    color: #fff;
    padding-top: 3px;
    min-height: 100%;
    height: calc(1.2rem + 2px);
    padding-left: 5px;
  }

  select {
    height: 1.6rem;

    &.output__text {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  }

  textarea {
    margin-top: 0px;
    height: calc(1.2rem + 1px);
  }

  &__btn {
    button {
      border-radius: 0px !important;

      &:last-of-type {
        border-top-right-radius: 0.3rem !important;
        border-bottom-right-radius: 0.3rem !important;
      }
    }
  }
}

td {
  min-width: max-content;
}

.mxy-0 {
  margin: 0 !important;
}

select {
  height: 1.6rem;
}

.text {
  &--primary {
    color: rgb(29, 233, 182) !important;
  }

  &--lighter {
    opacity: 0.36;
  }

  &--thin {
    font-weight: 500 !important;
  }

  &-danger {
    color: red !important;
  }

  &-success {
    color:rgb(29, 233, 182) !important;
  }
}

input:invalid,
select:invalid {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.08);
}

input:disabled,
select:disabled {
  opacity: 0.50;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}